extends layout

block content
    header.card-header
        .container
            h4.card-title salesAgent list
            |&nbsp
        div.form-row
            div.col.form-group.col-md-12    
                form.search(action='/sales/salesAgentlist')
                    div.form-row
                        div.col-md-8
                            input.form-control(name='employee' placeholder="Enter your search term ...")
                        div.col-md-4
                            input.btn.btn-dark.btn-block(type="submit")
    table.table
        thead.thead-dark
            tr
                th firstname
                th secondname
                th email
                th phone
                th gender
                th employeeID
                th nationalID
                th
        tbody
            each salesagent in salesAgentlist
                tr
                    td #{salesagent.firstname}
                    td #{salesagent.secondname}
                    td #{salesagent.email}
                    td #{salesagent.phone}
                    td #{salesagent.gender}
                    td #{salesagent.employeeID}
                    td #{salesagent.nationalID}
                    td
                        form(method="POST" action='/sales/delete')
                            input(type="hidden", placeholder="", name="id", value=salesagent._id)
                            button.btn.btn-dark.btn-block(type="submit") Delete